html {
    background-color: white;
}

body {
    font: 1.2em Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.gallery {
    height: 30rem;
    width: 80rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.gallery > div {
    flex: 0 0 47%;
    margin: 1rem;
    position: relative;
    background-image: url("/lab2/ex6/img/mountains.webp");
    background-size: 100%;
}
/* 1st photo */

.picture-wrapper .image {
  width: 200px;
  height: 200px;
  background-color: #35b;
}

.picture-wrapper .subtitle {
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #555;
  visibility: hidden;
  display: block;
  width: 180px;
  padding: 10px;
}

.picture-wrapper:hover .subtitle {
  visibility: visible;
}

/* 2nd photo */
.gallery>div:nth-child(2):before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.3s ease;
    background: rgba(18, 232, 132, 0.706);
}

.gallery>div:nth-child(2):hover:before {
    height: 100%;
}

