html {
    background-color: white;
}

body {
    font: 1.2em Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.gallery {
    height: 30rem;
    width: 70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery > div {
    flex: 0 0 47%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}


.gallery > div > img {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery > div > img:hover {
    transform: scale(1.01);
    background: rgba(0,0,0,0.3);
}


    /* justify-content
    align-items
    flex-direction
    order
    align-self
    flex-wrap
    flex-flow
    align-content */