<div>
    <h2>Ulubiony Aktor</h2>
    <label>Imię: </label>
    <input [(ngModel)]="firstName" placeholder="Podaj imię aktora">
    <br>
    <label>Nazwisko: </label>
    <input [(ngModel)]="lastName" placeholder="Podaj nazwisko aktora">
    <br>
    <label>Tytuł ulubionego filmu: </label>
    <input [(ngModel)]="movieTitle" placeholder="Podaj tytuł ulubionego filmu">
    <br>
    <p>Informacje o ulubionym aktorze:</p>
    <p>Imię: {{firstName}}</p>
    <p>Nazwisko: {{lastName}}</p>
    <p>Tytuł ulubionego filmu: {{movieTitle}}</p>
  </div>
  <div>
    <h3>Check if:</h3>
    {{2 +2}} 
    {{ firstName.length}} 
    {{ firstName.toUpperCase()}} 
    <!-- {{ a = 2+3}}  -->
    <!-- {{ windows.location.href}}  -->
  </div>
  