body {
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
.slide-container {
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  width: 600px;
  height: 450px;
  overflow: hidden;
}
img {
  width: 20%;
}

.image-container {
  display: inline-block;
  width: 3000px;
  height: 400px;
  position: relative;
  transition: left 1s;

}
.slider-image {
  float: left;
}

.button-container > input{
display: none;
}

.button-container > label{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}


.slide-container:has(#slide1:checked) > .image-container {
  left: 0px;
}
.slide-container:has(#slide2:checked) > .image-container {
  left: -600px;
}
.slide-container:has(#slide3:checked) > .image-container {
  left: -1200px;
}
.slide-container:has(#slide4:checked) > .image-container {
  left: -1800px;
}
.slide-container:has(#slide5:checked) > .image-container {
  left: -2400px;
}
