body {
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}
.slide-container {
  margin: 50vh auto 0 auto;
  transform: translateY(-50%);
  width: 37.5rem;
  height: 28.125rem;
  overflow: hidden;
}
img {
  width: 20%;
}

.image-container {
  display: inline-block;
  min-width: 60vw;
  width: 187.5rem;
  height: 25rem;
  position: relative;
  transition: left 1s;

}
.slider-image {
  float: left;
}

.button-container > input{
display: none;
}

.button-container > label{
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 0.3125rem;
  cursor: pointer;
}


.slide-container:has(#slide1:checked) > .image-container {
  left: 0rem;
}
.slide-container:has(#slide2:checked) > .image-container {
  left: -37.5rem;
}
.slide-container:has(#slide3:checked) > .image-container {
  left: -75rem;
}
.slide-container:has(#slide4:checked) > .image-container {
  left: -112.5rem;
}
.slide-container:has(#slide5:checked) > .image-container {
  left: -150rem;
}
