html{
    background-color: white;
}
#paragraph-1{
    float: left;
    color: black;
    background-color: blueviolet;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-size: medium;
    padding: 5px;
    margin: 5px;
}

#paragraph-2{
    width: 80%;
    height: 100px;
    float: right;
    color:rgb(13, 221, 121);
    font-size: x-large;
    overflow: scroll;
    border: 2px double grey;
    border-radius: 20px;

}

#paragraph-3{
    width: 130%;
    height: 200px;
    float: left;
    overflow: hidden;
    color: azure;
    background-color: darkorange;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    padding: 20%;
}

#paragraph-4{
    float: right;
    color: black;
    background-color: rgb(13, 221, 121);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: auto;
    padding: 20%;
    font-size: medium;


}