*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --my_green: #2aad48;
    --my_shadow: #4c4c4c56;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
}

/* List */
ul li {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin: 1.25rem 0;
    box-shadow: 0rem 0rem 0.3rem 0.12rem var(--my_shadow)
}

.container {
    width: 50rem;
    margin: 2em auto;
}

.name {
    font-weight: bold;
}

.remove-button {
    background: var(--my_green);
    color: white;
    padding: 0.625rem;
    border: 0;
    font-size: 1.125rem;
}

.remove-button:hover {
    cursor: pointer;
}


/* Add form */
form#add-entry {
    border: 0;
    padding: 1em;
    box-shadow: 0rem 0rem 0.3125rem 0.125rem var(--my_shadow);
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    border: 0.065rem solid var(--my_shadow);
    border-radius: 0.3125rem;
    margin: 0.625rem;
}

input[type=submit] {
    background: var(--my_green);
    color: white;
}

input[type=submit]:hover {
    cursor: pointer;
}


@media (max-width: 60rem) {
    .container {
        width: 37.5rem;
    }
}

@media (max-width: 43.75rem) {
    .container {
        width: 80%;
    }

    form#add-entry {
        flex-direction: column;
    }

    input {
        width: auto;
    }
}