html{
    background-color: white;
}

body{
    font: 1.2em Helvetica, Arial, sans-serif;
    margin: 20px;
    padding: 0;
}


.grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
}

.grid-container>* {
    height: 800px;
    border-radius: 2px;
    box-shadow: 0px 8px 5px 5px rgba(197, 197, 200, 0.495)
}

.flex-container {
    max-width: 450px;
    margin: auto;
}

img {
    width: 100%;
    max-width: 100%;
    height: 35%;
    display: block;
    border-radius: 2px 2px 0 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1.5rem;
    height: 65%;
}

.text-container>h4 {
    margin-top: 0;
    margin-bottom: 0.25rem;
    padding-top: 1em;
    font-size: 1.7em;
}

.text-container>h5 {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    color: lightcoral;
}

.text-container>p {
    margin-bottom: auto;
    line-height: 2rem;
    opacity: 0.7;
}

button {
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

hr {
    opacity: 0.2;
    margin: 0.1px;
}

.footer {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

div.social {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

div.social p {
    margin: 0;
    padding: 0;
    color: rgba(38, 38, 38, 0.869);
}

@media (max-width: 1450px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }
}

@media (max-width: 940px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media (max-width: 750px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }
}

@media (min-width: 2000px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
}