body {
	font-family: Tahoma, "Lucida Grande", Arial, sans-serif;
	font-size: 62.5%;
	background-color: rgba(0, 118, 98, 0.055);
}
h1 {
	font-size: 2.4em;
	padding: 0.4em;
	background-color: #003f41;
	color: white;
	border: 0.2vw solid yellow;
}
h2 {
	font-size: 1.8em;
	color: black;
	margin-bottom: 0;
	border-bottom: 1px solid rgb(0, 84, 70);
	display: block;
}
h3 {
	font-size: 1.4em;
	color: black;
	text-align: center;
}
p, ul, ol {
	font-size: 1.2em;
	line-height: 130%;
	margin-top: 0;

}

ul {
	color: #666666;
	list-style: square;
}

#sidebox{
	float: right;
	width: 180px;
	background-color: #fbef99;
	border: 1px solid #fdd040;
	border-top-width: 5px;
	margin: 0 0 0.5vw 1vw;
	padding: 0 1vw;
}

