*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#game-window{
    position: relative;
    margin: 5em;
    width: 44rem;
    height: 32rem;
    box-shadow: 0rem 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball{
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: red;
    transition: transform 0.4s;
}